:root {
  --tile-border: #9393ff;
  --tile-bg: #ffffff;
  --tile-ship-bg: #ccccfc;
  --tile-hit-bg: #ff8d8d;
  --tile-missed-bg: #bbffdc;
  --tile-ship-bg: #b7edff;
  --tile-hover-bg: #fff7c6;
  --board-label: #5c5c5c;

  --tile-size: 40px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#board-area {
  display: flex;
  justify-content: space-evenly;
}

.tile {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--tile-border);
  background-color: var(--tile-bg);

  &:hover {
    background-color: var(--tile-hover-bg) !important;
  }

  &.hit {
    background-color: var(--tile-hit-bg);
  }

  &.missed {
    background-color: var(--tile-missed-bg);
  }

  &.has-ship {
    background-color: var(--tile-ship-bg);
  }
}

.board-row:nth-child(2) > .tile {
  border-top: 2px solid var(--tile-border);
}

.board-row:last-child > .tile {
  border-bottom: 2px solid var(--tile-border);
}

.tile:nth-child(2) {
  border-left: 2px solid var(--tile-border);
}

.tile:last-child {
  border-right: 2px solid var(--tile-border);
}

.label-row,
.board-row {
  display: flex;
}

.label {
  font-size: 0.85rem;
  display: grid;
  place-items: center;
  width: var(--tile-size);
  height: var(--tile-size);
  color: var(--board-label);
}

.hidden {
  display: none;
}

/* board placer */
.ship {
  background-color: #5555f5;
  opacity: 0.3;
  /* make ship clickable on every tile it spans */
  position: relative;
  z-index: 1;
}

.shadow {
  background-color: #ffd4a7;
  /* make it not re-rendered every dragenter event */
  position: relative;
  z-index: -1;
}